@keyframes crecer {
    from { scale: 0; }
    to { scale: 1;}
}

.experiencia{
    width: 100vw;
    height: 750px;
    display: flex;
    justify-content: flex-end;
}
.skills{
    width: 100vw;
    height: 750px;
    display: flex;

}

.experiencia__contenedor_titulo{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-image: linear-gradient(to left
    ,
    #000000 28%,     
    #73166D 61%,     
    #891381 80%,
    #61055B 100%  
    );
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

}

.skills__contenedor_titulo{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    background-image: linear-gradient(to right,
    #000000 28%,     
    #73166D 61%,     
    #891381 80%,
    #61055B 100%  
    );
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
}

.skills__titulo{
    font-family: "nasa";
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
}

.experiencia__titulo{
    font-family: "nasa";
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
}

.skills__contenedor_skills{
    height: 50%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    /* justify-content: space-around; */
    overflow-x:hidden;
    align-items: center;
    overflow-y: scroll;
    position: absolute;
    left: 50%;

    padding: 1em;
    background: transparent;
    display: inline-grid;
    grid-template-columns: repeat(1, 1fr);
    width: 150px;
    gap: 30px;
    overflow-x: scroll;
    scrollbar-color: transparent transparent;
    scroll-snap-type: x proximity;
    

}

.skills__skill{
    width: 100px;
    height: 100px;
    background-color: aliceblue;
    animation: crecer linear forwards;
    animation-timeline: scroll(root block);
}

